doctype html
html
    head
        title='Jukebox'
        link(rel='stylesheet', type='text/css', media='screen', href='/3rd-party/bootstrap-css/css/bootstrap.min.css')
        script(type='text/javascript', src='/3rd-party/jquery/jquery.min.js')
        script(type='text/javascript', src='/js/debug.js')

    body
        header
            h1 Jukebox - debug
        section
            ul.controls
                li
                    a(href="/mpd/kill") kill
                li
                    a(href="/mpd/status") status
                li
                    a(href="/mpd/stats") stats
                li
                    a(href="/mpd/currentsong") currentsong
                li
                    a(href="/mpd/play") play
                li
                    a(href="/mpd/stop") stop
                li
                    a(href="/mpd/next") next
                li
                    a(href="/mpd/previous") previous
                li
                    a(href="/mpd/pause") pause
                li
                    a(href="/mpd/resume") resume
                li
                    form(action="/mpd/volume", method="post")
                        input(type="number", name="volume")
                        button set volume
                li
                    form(action="/mpd/playid", method="post")
                        input(type="number", name="playid")
                        button set playid
                li
                    a(href="/mpd/playlistinfo") playlistinfo
                li
                    form(action="/mpd/addid", method="post")
                        input(type="string", name="uri")
                        button addid
                li
                    form(action="/mpd/deleteid", method="post")
                        input(type="number", name="id")
                        button deleteid
                li
                    a(href="/mpd/shuffle") shuffle
                li
                    form(action="/mpd/search", method="post")
                        input(type="text", name="query")
                        button search
                li
                    form(action="/mpd/lsinfo", method="post")
                        input(type="text", name="uri")
                        button lsinfo

            textarea#response