!!!
html
    head
        title='Jukebox'
        link(rel='stylesheet', type='text/css', media='screen', href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700')
        link(rel='stylesheet', type='text/css', media='screen', href='/3rd-party/bootstrap-css/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', media='screen', href='/css/screen.css')
        script(type='text/javascript', src='/3rd-party/jquery/jquery.min.js')
        script(type='text/javascript', src='/3rd-party/json2/json2.js')
        script(type='text/javascript', src='/3rd-party/underscore/underscore-min.js')
        script(type='text/javascript', src='/3rd-party/backbone/backbone-min.js')
        script(type='text/javascript', src='/socket.io/socket.io.js')
        script(type='text/javascript', src='/js/player/model.js')
        script(type='text/javascript', src='/js/player/view.js')
        script(type='text/javascript', src='/js/player/player.js')
        script(type='text/javascript', src='/js/global.js')

    body
        div.player
            div.info
                div.artist &nbsp;
                div.song &nbsp;
            div.status
                div.progress
                    div.bar
                div.time
                    span.played
                    span.divider -
                    span.total
            div.playback
                div.previous-next
                    a.bttn.glyphicon.glyphicon-step-backward(href='/mpd/previous')
                    a.bttn.glyphicon.glyphicon-step-forward(href='/mpd/next')
                a.bttn.glyphicon.glyphicon-play(data-play='/mpd/play',data-pause='/mpd/pause')
            div.volume
                a.bttn.glyphicon.glyphicon-volume-down(href='/mpd/volume')
                span.volume
                a.bttn.glyphicon.glyphicon-volume-up(href='/mpd/volume')


