!!!
html
    head
        title='Jukebox'
        link(rel='stylesheet', type='text/css', media='screen', href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700')
        link(rel='stylesheet', type='text/css', media='screen', href='/3rd-party/bootstrap-css/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', media='screen', href='/css/screen.css')
        script(type='text/javascript', src='/3rd-party/jquery/jquery.min.js')
        script(type='text/javascript', src='/3rd-party/json2/json2.js')
        script(type='text/javascript', src='/3rd-party/underscore/underscore-min.js')
        script(type='text/javascript', src='/3rd-party/backbone/backbone-min.js')
        script(type='text/javascript', src='/js/global.js')

    body
        div.player
            div.info
                div.artist Lorem ipsum dolor sit amet - Proin sollicitudin
                div.song Morbi lobortis sagittis justo non vehicula
            div.status
                div.progress
                    div.bar(style='width: 40%;')
                div.time
                    span.played
                    span.total
            div.playback
                div.previous-next
                    a.bttn.glyphicon.glyphicon-step-backward
                    a.bttn.glyphicon.glyphicon-step-forward
                a.bttn.glyphicon.glyphicon-play
            div.volume
                a.bttn.glyphicon.glyphicon-volume-down
                span.volume 90%
                a.bttn.glyphicon.glyphicon-volume-up


